---
_extends: .github:common-settings.yaml

repository:
  name: .dotfiles
  description: "Used to keep my configuration files synchronized across machines."
  topics: dotfiles, configuration, settings, preferences, zsh, sheldon, mise, starship

branches:
  - name: main
    protection:
      required_status_checks:
        strict: true
        contexts: ["Devcontainer CI", "Lint", "Renovate / Renovate"]
      enforce_admins: true
      required_pull_request_reviews: null
      restrictions: null
      required_linear_history: true
