[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/securemodelines"]
	path = vim/bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "vim/bundle/vim-makegreen"]
	path = vim/bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "vim/bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "vim/bundle/vim-fatrat"]
	path = vim/bundle/vim-fatrat
	url = https://github.com/jmcantrell/vim-fatrat.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/pydoc.vim"]
	path = vim/bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/TaskList.vim"]
	path = vim/bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/ZoomWin"]
	path = vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "autoenv"]
	path = autoenv
	url = https://github.com/igetgames/autoenv.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/dictview.vim"]
	path = vim/bundle/dictview.vim
	url = https://github.com/vim-scripts/dictview.vim.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/jscomplete-vim"]
	path = vim/bundle/jscomplete-vim
	url = https://github.com/igetgames/jscomplete-vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-csharp"]
	path = vim/bundle/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "vim/bundle/pythoncomplete"]
	path = vim/bundle/pythoncomplete
	url = https://github.com/meermanr/pythoncomplete.git
[submodule "vim/bundle/nose.vim"]
	path = vim/bundle/nose.vim
	url = https://github.com/lambdalisue/nose.vim.git
[submodule "vim/bundle/vim-django-support"]
	path = vim/bundle/vim-django-support
	url = https://github.com/lambdalisue/vim-django-support.git
[submodule "vim/bundle/vim-htmldjango_omnicomplete"]
	path = vim/bundle/vim-htmldjango_omnicomplete
	url = https://github.com/mjbrownie/vim-htmldjango_omnicomplete.git
[submodule "vim/bundle/vim-backbone-jscomplete"]
	path = vim/bundle/vim-backbone-jscomplete
	url = https://github.com/igetgames/vim-backbone-jscomplete.git
