[user]
name = "Marcus R. Brown"
email = "contact@marcusrbrown.com"

[core]
excludesFile = ~/.gitignore
pager = less -F -S -R -i -x1,5

# Make `git rebase` safe on OSX
# http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
trustctime = false

# Speed up commands that involve determining untracked files such as `git status`.
# https://git-scm.com/docs/git-update-index#_untracked_cache
untrackedCache = true

[alias]
ci = commit
cia = commit -a
co = checkout
stat = status
st = status --short
push = push -v
pull = pull -v
cinum = !git log --pretty=oneline | wc -l | sed -e \"s/ //g\"
discard = checkout --
# TODO: Revisit
#prune-merged = !git branch -d `git branch --merged | cut -c3- | grep -v ${*:-master}`

[fetch]
prune = true

[init]
defaultBranch = main

[push]
default = current
autoSetupRemote = true

[pull]
rebase = false

[rerere]
enabled = 1

[mergetool]
keepBackup = false

[branch]
autoSetupRebase = always

[commit]
gpgSign = true

[advice]
skippedCherryPicks = false

[url "git@github.com:"]
insteadOf = "gh:"
pushInsteadOf = "github:"
pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
insteadOf = "github:"

[url "git@gist.github.com:"]
insteadOf = "gst:"
pushInsteadOf = "gist:"
pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
insteadOf = "gist:"

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[ghq]
root = ~/go/src
root = ~/src

[include]
path = .gitconfig.local
