/aws/
/brew-keeper/*
!/brew-keeper/packages.txt
/cody-ai/
/configstore/
/cups/
/fish/fishd.*
/fish/fish_variables
/gcloud/
/gem/ruby/*/
/git/.gitconfig-*
/gh/hosts.yml
/gnupg/*
!/gnupg/gpg*.conf
/goose/*
!/goose/config.yaml
/grammarly-languageserver/
/ipython/profile_default/history.sqlite
/ipython/profile_default/log
/ipython/profile_default/pid
/ipython/profile_default/startup/README
/iterm2/AppSupport
/matplotlib/
/mcp/**/memory.json
/NuGet/
/opencode/plugins/superpowers.js
/opencode/profiles/*
!/opencode/profiles/default/
/opencode/skills/superpowers
/opencode/antigravity-accounts.json
/pipedream/
/pnpm/rc
/raycast/
/robomongo/
/sanity/
/stetic/
/truffle/
/Unreal Engine/
/vscode-dev-containers/
/xbuild/
/yarn/*
!/yarn/config
/zsh/.zcompdump
