# Ignore everything
/*

.DS_Store
.netrwhist
*.local
*.zwc

# Include the contents of the repository
!/.config/
!/.devcontainer/
!/.dotfiles/
/.dotfiles/*
!/.dotfiles/docs/
!/.dotfiles/docs/*.md
!/.ssh/
/.ssh/*
!/.ssh/config.d/
/.ssh/config.d/*
!/.ssh/config.d/.gitkeep
!/.ssh/config
!/.vim/
!/.vscode/
/.vscode/*
!/.vscode/argv.json
!/.vscode/settings.json
!/.bashrc
!/.editorconfig
!/.gitattributes
!/.profile
!/.vimrc
!/.zshrc
!/Brewfile
!/Library/
/Library/*
!/Library/LaunchAgents/
/Library/LaunchAgents/*
!/Library/LaunchAgents/dev.mrbro.environment.plist
!/README.md
!/UNLICENSE
