# Ignore everything
/*

# Include the contents of the repository
!/.config/
/.config/*
!/.config/bash/
/.config/bash/local.d/
!/.config/bash/local.d/.gitkeep
!/.config/bat/
/.config/bat/*
!/.config/bat/config
!/.config/bat/themes/
!/.config/flake8
!/.config/pep8
!/.config/sheldon/
!/.config/starship.toml
!/.devcontainer/
!/.dotfiles/
/.dotfiles/*
!/.dotfiles/docs/
!/.dotfiles/docs/*.md
!/.gnupg/
/.gnupg/*
!/.gnupg/dirmngr.conf
!/.gnupg/gpg-agent.conf
!/.gnupg/gpg.conf
!/.ssh/
/.ssh/*
!/.ssh/config.d/
/.ssh/config.d/*
!/.ssh/config.d/.gitkeep
!/.ssh/config
!/.vim/
!/.vscode/
/.vscode/*
!/.vscode/argv.json
!/.vscode/settings.json
!/.bashrc
!/.editorconfig
!/.gitattributes
!/.gitconfig
!/.gitignore
!/.inputrc
!/.lesskey
!/.profile
!/.vimrc
!/.zshrc
!/Brewfile
!/README.md
!/UNLICENSE
