---
name: Main

'on':
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  devcontainer-ci:
    name: Devcontainer CI
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.draft != true
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.head_ref }}

      - id: devcontainer-ci
        name: Build and start devcontainer
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          runCmd: 'devcontainer-info'

      - if: always()
        name: Display devcontainer output
        env:
          OUTPUT: ${{ steps.devcontainer-ci.outputs.runCmdOutput }}
        run: |
          echo "Devcontainer output:"
          echo "$OUTPUT"

  install-mise:
    name: Install mise
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install mise
        env:
          MISE_VERSION: 2025.11.5 # renovate: datasource=github-releases packageName=jdx/mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          version: ${{ env.MISE_VERSION }}
