---
name: Main

'on':
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  devcontainer-ci:
    name: Devcontainer CI
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.draft != true
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}

      - id: devcontainer-ci
        name: Build and start devcontainer
        uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3.8.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          attempt_limit: 3
          attempt_delay: 20000
          action: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
          with: |
            runCmd: 'devcontainer-info'

      - if: always()
        name: Display devcontainer output
        env:
          OUTPUT: ${{ steps.devcontainer-ci.outputs.runCmdOutput }}
        run: |
          echo "Devcontainer output:"
          echo "$OUTPUT"

  install-mise:
    name: Install mise
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install mise
        env:
          MISE_VERSION: 2025.12.13 # renovate: datasource=github-releases packageName=jdx/mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: ${{ env.MISE_VERSION }}
