---
# Renovate this repository if Renovate-specific tasks are checked, if this workflow file or the Renovate configuration file is changed, or if dispatched.
name: Renovate

on:
  issues:
    types: [edited]
  pull_request:
    types: [edited]
  push:
    branches-ignore: [main]
  workflow_dispatch:
    inputs:
      log-level:
        description: Log level for Renovate
        required: false
        type: string
        default: debug
      print-config:
        description: Log the fully-resolved Renovate config for each repository, plus fully-resolved presets.
        required: false
        type: boolean
        default: false
  workflow_run:
    branches: [main]
    types: [completed]
    workflows: [Main]

permissions:
  contents: read

jobs:
  renovate:
    # Only run Renovate if this isn't a bot edit (issue or pull request) or if the workflow run is successful
    if: >
      (github.event.action == 'edited' && !contains(github.actor, '[bot]')) ||
      (github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success')
    name: Renovate
    secrets:
      APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
      APPLICATION_PRIVATE_KEY: ${{ secrets.APPLICATION_PRIVATE_KEY }}
    uses: bfra-me/.github/.github/workflows/renovate.yaml@e7e7b741537d0a0ee8500d5b088c8bef22a67e90 # v4.3.13
    with:
      log-level: ${{ inputs.log-level || (github.event_name == 'pull_request' || github.ref_name != github.event.repository.default_branch) && 'debug' || 'info' }}
      print-config: ${{ inputs.print-config || false }}
