[tools]
node = "22.17.0"
bun = "1.2.18"
pnpm = "10.12.4"
yarn = "1.22.22"
npm = "11.3.0"
python = "3.13.5"
deno = "2.4.1"

 # shfmt
"aqua:mvdan/sh" = "3.12.0"

"npm:vibe-tools" = "0.62.10"
"npm:playwright" = "1.53.2"
"npm:puppeteer" = "24.12.0"
"npm:prettier" = "3.6.2"
"npm:@bfra.me/prettier-config" = "0.15.7"

[tasks.format]
dir = '{{cwd}}'
run = '''
#!/bin/sh -x
prettier --config .dotfiles/.prettierrc.yaml --write .devcontainer .dotfiles .github
'''

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
