[tools]
node = "22.16.0"
bun = "1.2.15"
pnpm = "10.11.1"
yarn = "1.22.22"
npm = "11.3.0"
python = "3.13.3"
deno = "2.3.5"

 # shfmt
"aqua:mvdan/sh" = "3.11.0"

"npm:vibe-tools" = "0.61.5"
"npm:playwright" = "1.52.0"
"npm:puppeteer" = "24.10.0"
"npm:prettier" = "3.5.3"
"npm:@bfra.me/prettier-config" = "0.15.4"

[tasks.format]
dir = '{{cwd}}'
run = '''
#!/bin/sh -x
prettier --config .dotfiles/.prettierrc.yaml --write .devcontainer .dotfiles .github
'''

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
