[tools]
node = "22.21.0"
bun = "1.3.0"
pnpm = "10.19.0"
npm = "11.3.0"
python = "3.14.0"
deno = "2.5.4"
rust = "1.90.0"
cargo-binstall = "1.15.5"
zig = "0.15.2"
zls = "0.15.0"

 # shfmt
"aqua:mvdan/sh" = "3.12.0"

"npm:typescript" = "5.9.3"
"npm:vibe-tools" = "0.63.3"
"npm:playwright" = "1.56.1"
"npm:puppeteer" = "24.26.0"
"npm:prettier" = "3.6.2"
"npm:@bfra.me/prettier-config" = "0.16.1"
"npm:rimraf" = "6.0.1"
"npm:@anthropic-ai/claude-code" = "2.0.24"
"npm:tsx" = "4.20.6"

[tasks.format]
dir = '{{cwd}}'
run = '''
#!/bin/sh -x
prettier --config .dotfiles/.prettierrc.yaml --write .devcontainer .dotfiles .github
'''

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
