[tools]
node = "22.15.0"
pnpm = "10.10.0"
yarn = "1.22.22"
python = "3.13.3"
poetry = "2.1.3"
deno = "2.3.1"
bun = "1.2.12"
"npm:vibe-tools" = "0.60.8"
"npm:playwright" = "1.52.0"

[tasks.format]
dir = '{{cwd}}'
run = '''
#!/bin/sh -x
# renovate: datasource=npm depName=@bfra.me/prettier-config
PRETTIER_CONFIG_VERSION=0.15.4
# renovate: datasource=npm depName=prettier
PRETTIER_VERSION=3.5.3
pnpm --package @bfra.me/prettier-config@${PRETTIER_CONFIG_VERSION} --package prettier@${PRETTIER_VERSION} dlx prettier --config .dotfiles/.prettierrc.yaml --write .devcontainer .dotfiles .github
'''

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
