[tools]
node = "24.11.1"
npm = "11.3.0"
bun = "1.3.4"
pnpm = "10.24.0"
python = "3.14.2"
deno = "2.6.0"
rust = "1.91.1"
cargo-binstall = "1.15.5"
zig = "0.15.2"
zls = "0.15.0"

 # shfmt
"aqua:mvdan/sh" = "3.12.0"

"npm:typescript" = "5.9.3"
"npm:vibe-tools" = "0.63.3"
"npm:playwright" = "1.57.0"
"npm:puppeteer" = "24.32.0"
"npm:prettier" = "3.7.4"
"npm:@bfra.me/prettier-config" = "0.16.6"
"npm:rimraf" = "6.1.2"
"npm:@anthropic-ai/claude-code" = "2.0.61"
"npm:tsx" = "4.21.0"

"ubi:mazznoer/lolcrab" = "0.4.1"

[task_config]
includes = ["tasks/dotfiles.toml", "tasks/_mise.toml"]

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
