[tools]
node = "22.20.0"
bun = "1.2.23"
pnpm = "10.17.1"
npm = "11.3.0"
python = "3.13.7"
deno = "2.5.2"
rust = "1.90.0"
cargo-binstall = "1.15.5"
zig = "0.15.1"
zls = "0.15.0"

 # shfmt
"aqua:mvdan/sh" = "3.12.0"

"npm:typescript" = "5.9.3"
"npm:vibe-tools" = "0.63.3"
"npm:playwright" = "1.55.1"
"npm:puppeteer" = "24.22.3"
"npm:prettier" = "3.6.2"
"npm:@bfra.me/prettier-config" = "0.16.1"
"npm:rimraf" = "6.0.1"

[tasks.format]
dir = '{{cwd}}'
run = '''
#!/bin/sh -x
prettier --config .dotfiles/.prettierrc.yaml --write .devcontainer .dotfiles .github
'''

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
