[tools]
node = "24.11.0"
npm = "11.3.0"
bun = "1.3.2"
pnpm = "10.21.0"
python = "3.14.0"
deno = "2.5.6"
rust = "1.91.1"
cargo-binstall = "1.15.5"
zig = "0.15.2"
zls = "0.15.0"

 # shfmt
"aqua:mvdan/sh" = "3.12.0"

"npm:typescript" = "5.9.3"
"npm:vibe-tools" = "0.63.3"
"npm:playwright" = "1.56.1"
"npm:puppeteer" = "24.29.1"
"npm:prettier" = "3.6.2"
"npm:@bfra.me/prettier-config" = "0.16.1"
"npm:rimraf" = "6.1.0"
"npm:@anthropic-ai/claude-code" = "2.0.37"
"npm:tsx" = "4.20.6"

"ubi:mazznoer/lolcrab" = "0.4.1"

[task_config]
includes = ["tasks/dotfiles.toml", "tasks/_mise.toml"]

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
