[tools]
node = "24.13.0"
npm = "11.3.0"
bun = "1.3.8"
pnpm = "10.28.2"
python = "3.14.2"
deno = "2.6.7"
rust = "1.93.0"
cargo-binstall = "1.15.5"
zig = "0.15.2"
zls = "0.15.0"
go = "1.25.6"
ast-grep = "0.40.5"

 # shfmt
"aqua:mvdan/sh" = "3.12.0"

"npm:typescript" = "5.9.3"
"npm:vibe-tools" = "0.63.3"
"npm:playwright" = "1.58.0"
"npm:puppeteer" = "24.36.1"
"npm:prettier" = "3.8.1"
"npm:@bfra.me/prettier-config" = "0.16.6"
"npm:rimraf" = "6.1.2"
"npm:tsx" = "4.21.0"
"npm:opencode-ai" = "1.1.42"
"npm:agent-browser" = "0.7.6"

# Language Servers
"npm:pyright" = "1.1.408"
"npm:remark-language-server" = "3.0.0"
"npm:typescript-language-server" = "5.1.3"

"github:mazznoer/lolcrab" = "0.4.1"

[task_config]
includes = ["tasks/dotfiles.toml", "tasks/_mise.toml"]

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
