[tools]
node = "22.17.1"
bun = "1.2.19"
pnpm = "10.14.0"
npm = "11.3.0"
python = "3.13.5"
deno = "2.5.0"

 # shfmt
"aqua:mvdan/sh" = "3.12.0"

"npm:vibe-tools" = "0.63.3"
"npm:playwright" = "1.55.0"
"npm:puppeteer" = "24.19.0"
"npm:prettier" = "3.6.2"
"npm:@bfra.me/prettier-config" = "0.16.0"

[tasks.format]
dir = '{{cwd}}'
run = '''
#!/bin/sh -x
prettier --config .dotfiles/.prettierrc.yaml --write .devcontainer .dotfiles .github
'''

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
