[tools]
node = "22.14.0"
pnpm = "9.15.9"
yarn = "1.22.22"
python = "3.13.2"
poetry = "2.1.1"
deno = "2.2.5"

[tasks.format]
dir = '{{cwd}}'
run = '''
#!/bin/sh -x
# renovate: datasource=npm depName=@bfra.me/prettier-config
PRETTIER_CONFIG_VERSION=0.15.2
# renovate: datasource=npm depName=prettier
PRETTIER_VERSION=3.5.3
pnpm --package @bfra.me/prettier-config@${PRETTIER_CONFIG_VERSION} --package prettier@${PRETTIER_VERSION} dlx prettier --config .dotfiles/.prettierrc.yaml --write .devcontainer .dotfiles .github
'''
