[tools]
node = "24.13.0"
npm = "11.3.0"
bun = "1.3.6"
pnpm = "10.28.0"
python = "3.14.2"
deno = "2.6.5"
rust = "1.92.0"
cargo-binstall = "1.15.5"
zig = "0.15.2"
zls = "0.15.0"
go = "1.25.6"

 # shfmt
"aqua:mvdan/sh" = "3.12.0"

"npm:typescript" = "5.9.3"
"npm:vibe-tools" = "0.63.3"
"npm:playwright" = "1.57.0"
"npm:puppeteer" = "24.35.0"
"npm:prettier" = "3.8.0"
"npm:@bfra.me/prettier-config" = "0.16.6"
"npm:rimraf" = "6.1.2"
"npm:@anthropic-ai/claude-code" = "2.1.10"
"npm:tsx" = "4.21.0"
"npm:opencode-ai" = "1.1.26"

# Language Servers
"npm:pyright" = "1.1.408"
"npm:remark-language-server" = "3.0.0"
"npm:typescript-language-server" = "5.1.3"

"github:mazznoer/lolcrab" = "0.4.1"

[task_config]
includes = ["tasks/dotfiles.toml", "tasks/_mise.toml"]

[settings]
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true
