[tools]
node = "22.13.0"
pnpm = "9.15.3"
yarn = "1.22.22"
python = "3.13.1"

[tasks.format]
dir = '{{cwd}}'
run = '''
#!/bin/sh -x
# renovate: datasource=npm depName=@bfra.me/prettier-config
PRETTIER_CONFIG_VERSION=0.13.7
# renovate: datasource=npm depName=prettier
PRETTIER_VERSION=3.4.2
pnpm --package @bfra.me/prettier-config@${PRETTIER_CONFIG_VERSION} --package prettier@${PRETTIER_VERSION} dlx prettier --config .dotfiles/.prettierrc.yaml --write .devcontainer .dotfiles .github
'''
